<!doctype html>

<head>

</head>
<body>

<%- include('partials/header', {title:"classScores"}) -%>

<form action="/studentProfile" method="GET">
<table>
  <tr>
    <th>Student Name</th>
    <th>Cumulative Grade</th>
    <th>Class Rank</th>
  </tr>
  <%

  for(student in stats){

    %>

  <tr>
    <td><input type="submit" name= "studentName" value=<%= student %> ></input></td>
    <td><%= stats[student].cumulativeGrade %></td>
    <td>n/a for now</td>


  </tr>

  <%}%>
</table>
</form>


<%- include('partials/footer') -%>
</body>
<html>
