<%- include('partials/header', {title:"gradeSubmitTeacher"}) -%>

<h2>Submit Grade!</h2>

<form action="/gradeSubmitTeacher" method="POST">
  <label for="name">Student Name:</label>
  <input type="text" id="studentName" name="studentName" value=""><br>
  <label for="name">Assessment:</label>
  <input type="text" id="assessment" name="assessment" value=""><br>
  <label for="name">Class:</label>
  <input type="text" id="class" name="class" value=""><br>
  <label for="name">Points Worth:</label>
  <input type="text" id="pointsWorth" name="pointsW" value=""><br>
  <label for="name">Point Gained:</label>
  <input type="text" id="pointsGained" name="pointsG" value=""><br>

  <br><br>
  <input type="submit" value="Add new grade!">

</form>

<%- include('partials/footer') -%>
