<%- include('partials/header', {title:"Gradus Libra"}) -%>
<!DOCTYPE html>
<html lang="en">
<header class="bg-dark py-5">
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">Welcome to our gradebook otherwise know as Gradus Libra.</h1>
                <p class="lead text-white-50 mb-4">You can either be a student creating and checking assements or you can be a teacher looking at your students test scores. </p>
                <p class="lead text-white-50 mb-4">Above you can choose the path in whcih you take. </p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
</header>
  <body>
      </div>
</html>


  <%- include('partials/footer') -%>
