<%- include('partials/header', {title:"Gradus Libra"}) -%>

<p> Welcome to Gradus Libra
  <br>
  <h2>If you are a teacher...</h2>
  <br>
  <a href="/gradeSubmitTeacher">Click here to submit student grades</a>
  <br>
  <a href="/createStudent">Click here to add a student to the Gradus libra</a>
  <hr>
  <h2>If you are a student...</h2>
  <br>
  <a href="/gradeSubmitStudent">Click here to submit your own grades</a>
  <br>
  <hr>
  <h2>If you are a student or a teacher...</h2>
  <a href="/classScores">Cick here to view class scores</a>


  <%- include('partials/footer') -%>
